show the information about one particular button


<p>id: <%= @button1.id %></p>
<p>shape: <%= @button1.shape %></p>
<p>color: <%= @button1.color %></p>
<p>description: <%= @button1.description %></p>
<p>image_url: <%= @button1.image_url %></p>
<p>created_at: <%= @button1.created_at %></p>
<p>updated_at: <%= @button1.updated_at %></p>